.first{
	
	font-size:14px;
	color:black;
	text-align: left;
	background-color:#90ee90;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	border: 1px solid black;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 0px;
	max-width:580px;
	max-height: 460px;
	overflow-y: hidden;
	min-width:0px;
	min-height:0px;
 }
 